@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~normalize.css";
@import "variables.scss";
@import "mixins.scss";
@import "header.scss";
@import "toolbar.scss";
@import "formula.scss";
@import "table.scss";
@import "dashboard.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
}